/* started on CSS and will work on this more tomorrow.

/*h1{
  text-align: center;
  font-family: helvetica;
  letter-spacing: 5px;
}

form {
  display: flex;
  justify-content: center;
}
*/
#map {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 400px;
}

